@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
}

#the-adventure-of-the-illustrious-client blockquote:nth-of-type(2){
	font-variant: small-caps;
	text-align: center;
}

#the-adventure-of-the-three-garridebs blockquote p{
	text-align: center;
	text-indent: 0;
}

#the-adventure-of-the-three-garridebs blockquote p:first-child{
	font-variant: small-caps;
}
